name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build_apk:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17.x"
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
      - uses: actions/cache@v3
        with:
          path: /opt/hostedtoolcache/flutter
          key: flutter-install-cache

      - name: Setup Flutter
        run: |
          flutter config --no-analytics
          flutter pub get
          sh ./scripts/generate_code.sh

      - name: Build APKs
        run: flutter build apk --build-number $(printf '%(%Y%m%d)T\n' -1) --debug

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3.1.3
        with:
          name: APK
          path: ./build/app/outputs/apk/debug/app-debug.apk
          retention-days: 30
